@import "./sideButtons.css";
@import "./uiTable.css";
@import "./playerWrapper.css";
@import "./turnActions.css";
@import "./table.css";
@import "./menu.css";
@import "./breakTime.css";
@import "./checkbox.css";
@import "./slider.css";
@import "./sidebet.css";
@import "./history.css";
@import "./game01.css";
@import "./sideBar.css";
@import url("./tableTheme.css");

:root {
    --aspect-ratio: 0.56vw;
}


/* .sideButtonsDiv {
    width: 80%;
    height: calc( 30 * var(--aspect-ratio));
} */

.foldToAnyBetButton,
.checkToAnyBetButton,
.callButtonDiv {
    position: absolute;
}

#autoCheckOrFoldButton {
    top: calc( -8.5 * var(--aspect-ratio));
}

#autoCheckButton {
    top: calc( -4.2 * var(--aspect-ratio));
}
.callButtonDiv{
    top:calc( -12.7 * var(--aspect-ratio));
    
}
.all_left_buttons {
    width: 100%!important;
}

html {
    overflow: hidden;
}

.top_prent_div {
    overflow: hidden;
    width: calc(var(--aspect-ratio) * 1598);
}

.side-bet_div p {
    margin-left: 0px !important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/images/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: 0.71;
}

body {
    padding: 0;
    display: flex;
    position: relative;
    width: 100vw;
    height: calc(146 * var(--aspect-ratio));
    background: radial-gradient(50% 91.18% at 50% 50%, #335094 0%, #0C1028 100%);
    /* background: transparent linear-gradient(90deg, #0A1029 0%, #1E3970 20%, #3261B6 56%, #0A1029 100%) 0% 0% no-repeat padding-box; */
    opacity: 0.86;
    font-family: myriad-arabic, sans-serif;
    font-size: calc((1.5 * var(--aspect-ratio)));
    color: #FEFEFE;
    /* padding: 1vw; */
    overflow: overlay;
    /* Preventing marking elements and text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#backButton {
    background: transparent linear-gradient(180deg, #F41B1B 0%, #8D2626 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #FFFFFF45;
    border-radius: calc(0.5 * var(--aspect-ratio));
    border-style: none;
    color: #FFFFFF;
    padding: calc(1 * var(--aspect-ratio));
    padding-left: calc(4 * var(--aspect-ratio));
    padding-right: calc(15 * var(--aspect-ratio));
}

#backButton:hover {
    background: transparent linear-gradient(180deg, #8D2626 0%, #F41B1B 100%) 0% 0% no-repeat padding-box;
}

#backButton img {
    margin-right: calc(10 * var(--aspect-ratio));
    max-height: calc(5 * var(--aspect-ratio));
    min-height: calc(3 * var(--aspect-ratio));
}


/* #totalPot,
#winPot {
    position: absolute;
    top: calc(-13 * var(--aspect-ratio));
    left: 32vw;
} */

#totalPot,
#winPot {
    position: absolute;
    top: calc(-10 * var(--aspect-ratio));
    left: 29vw;
    display: flex;
}


/* #totalPot, #winPot {
    position: absolute;
    top: calc(-13 * var(--aspect-ratio));
    left: 27vw;
} */

#backgroundLogo {
    position: absolute;
    object-fit: contain;
    height: calc(17 * var(--aspect-ratio));
    top: calc(38 * var(--aspect-ratio));
    left: 41.5vw;
    opacity: .4;
}

.portrateOnly {
    display: none;
    pointer-events: none;
}

.portrateOnly * {
    pointer-events: none;
}

.waitingList {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0px;
    width: 100%;
}

.waitingList button {
    align-items: center;
    margin: 4px 0px;
}

.waitingList button:disabled {
    background-color: grey;
}


/* .waitingList button{
    padding: 0px 21px;
    margin: 2px 0px;
} */

.waitingListSide {
    display: flex;
    margin: 0;
    padding: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-group {
    width: 100%;
}

#usersDropdown {
    display: none;
}

.users {
    background-color: #0E0B27;
    border: 1px solid yellow;
    border-radius: 7px;
    width: 70%;
    box-sizing: border-box;
    padding: 2px 4px;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    height: 130px;
}

.innerUser {
    text-align: center;
    margin: 2px 0px;
}


/*
@media (min-aspect-ratio: 1/1) {
    .portrateOnly {
        display: none;
        pointer-events: none;
    }

    .portrateOnly * {
        pointer-events: none;
    }
}

@media (max-aspect-ratio: 1/1) {
    .landscapeOnly {
        display: none;
        pointer-events: none;
    }

    .landscapeOnly * {
        pointer-events: none;
    }
    
    body {
        font-size: 2vw;
        background-color: #0A1029;
    }

    #totalPot {
        left: 25vw;
        top: calc(-6 * var(--aspect-ratio));
    }

    #backgroundLogo {
        top:calc( 40 * var(--aspect-ratio));
        left: 37vw;
    }
}

*/

input {
    background-color: transparent;
    border-style: none;
    color: inherit;
}


/* Hide the arrows on the input */


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* New modal css */

:root {
    --aspect-ratio: 0.56vw;
    /* --pos: calc(1598 / (100vw / 100 * 32) / 1920);
    --aspects-ratio: calc(1598px / 1920px); */
}

.modal-dialog {
    max-width: 340px;
}

.error-message {
    margin: 0px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
}

.modal-content {
    background: #15122D 0% 0% no-repeat padding-box;
    color: white;
}

.close {
    color: white;
    opacity: 1;
}

.cancel {
    cursor: pointer;
    background: transparent linear-gradient(0deg, #15122D 0%, #676060 100%) 0% 0% no-repeat padding-box;
}

.ok {
    background: transparent linear-gradient(0deg, #FFEB00 0%, #B2B2B2 100%) 0% 0% no-repeat padding-box;
}

.modal-header {
    /*padding: 0rem;*/
    border-bottom: 1px solid #FFEB00;
}

.modal-footer {
    border-top: 1px solid #FFEB00;
}

.modal-footer button {
    border-style: none;
    border-radius: calc(1 * var(--aspect-ratio));
    color: white;
    box-shadow: 0px 2px 5px #FFFFFF45;
    font-size: medium;
}


/* currency */

.moneyInBB {
    display: contents;
}

.imageFeatures,
.imageFeatures1,
.imageFeatures2 {
    display: inline-block;
}

.imageFeatures2 {
    /* display: flex; */
    align-items: center;
}

.text_div {
    display: block;
    /* Initial display setting */
}

.text_div2 {
    position: absolute;
    /* margin-top: calc(.9* var(--aspect-ratio)) !important; */
    display: flex;
    justify-content: space-evenly;
    background-color: #2B2F5A;
    height: calc(7* var(--aspect-ratio)) !important;
    align-items: center;
    line-height: 1.3;
    width: 100%;
    bottom: 0%;
    right: calc(0* var(--aspect-ratio)) !important;
    width: calc(29.6* var(--aspect-ratio)) !important;
}

#buyInMenu .imageFeatures1 img,
.imageFeatures img {
    width: calc((1.5 * var(--aspect-ratio)));
}

.imageFeatures2 img {
    height: calc(1.8 * var(--aspect-ratio));
    width: calc(1.8 * var(--aspect-ratio)) !important;
    margin-right: 2px;
}

.imageFeatures1 img {
    width: calc((1.5 * var(--aspect-ratio)));
    /* padding-top: 2px; */
    margin-top: 0 !important;
}

.button_payout p {
    display: flex;
    align-items: center;
}

.smallBlind .imageFeatures1 img,
.bigBlind .imageFeatures1 img,
.money .imageFeatures1 img,
#buyInMenu .imageFeatures1 img {
    margin-top: -3px;
    padding-top: 0;
}

.player_wrapper .money .imageFeatures1 img {
    margin: -1px !important;
    padding-top: 0px !important;
}

#insuranceModal .imageFeatures img {
    width: calc((3 * var(--aspect-ratio)));
}

#autoFoldSettingModal .close {
    width: 30px;
    height: 30px;
    background: transparent linear-gradient(0deg, #E50202 0%, #676060 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #ffffff45;
    border-radius: 50px;
    opacity: 3;
    position: absolute;
    right: calc(-1.75* var(--aspect-ratio));
    top: calc(-1.75* var(--aspect-ratio));
    padding: calc(0.25* var(--aspect-ratio));
}


/* .side-bet_div .Balance2 .imageFeatures,
.side-bet_div .Balance2 .imageFeatures1 {
    display: flex;
} */

#raiseButton {
    width: calc( 19 * var(--aspect-ratio));
    white-space: nowrap;
    display: inline-flex
}

#raiseButton>span {
    display: inline-flex
}

.valueDisplay {
    margin-left: calc(1 * var(--aspect-ratio));
}

/* result modal */
#tournamentResultModal {
    height: calc(80 * var(--aspect-ratio));
}

#tournamentResultModal .modal-dialog {
    height: calc(80 * var(--aspect-ratio));
    width: calc(50 * var(--aspect-ratio));
    max-width: calc(150 * var(--aspect-ratio));
    margin: auto;
}

.rebuy_tournament {
    width: 340px;
    height: 60px;
    background: #189918;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0;
}

.LobbyButton {
    width: 340px;
    height: 60px;
    background: linear-gradient(0deg, #E50202 0%, #676060 100%);
    box-shadow: 0px 2px 5px #FFFFFF45;
    border-radius: 8px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#tournamentResultModal img {
    max-width: 100%;
    max-height: calc(15 * var(--aspect-ratio));
}

#tournamentResultModal h5 {
    font-size: calc(2.5 * var(--aspect-ratio));
    text-align: center;
    margin: 0;
}

@media (max-width: 575.98px) {
    .my-4 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .rebuy_tournament,
    .LobbyButton {
        height: 20px;
        font-size: 14px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .rebuy_tournament,
    .LobbyButton {
        height: 33px;
        font-size: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .rebuy_tournament,
    .LobbyButton {
        height: 41px;
        font-size: 16px;
    }
    #tournamentResultModal img {
        max-width: 100%;
        max-height: calc(20 * var(--aspect-ratio));
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .rebuy_tournament,
    .LobbyButton {
        height: 47px;
        font-size: 16px;
    }
    #tournamentResultModal img {
        max-width: 100%;
        max-height: calc(20 * var(--aspect-ratio));
    }
}
@media (min-width: 1200px) {
    .rebuy_tournament,
    .LobbyButton {
        height: 50px;
        font-size: 16px;
    }
    #tournamentResultModal img {
        max-width: 100%;
        max-height: calc(25 * var(--aspect-ratio));
    }
}

@keyframes slideIn1 {
    from {
        opacity: 0;
        transform: translate(0%, -0%);
    }
    to {
        opacity: 1;
        transform: translate(50%, 1500%);
    }
}

.result_p1 {
    background: #29334D;
    color: #FFFFFF;
    width: calc(34.4* var(--aspect-ratio));
    height: calc(4* var(--aspect-ratio));
    padding: calc(1* var(--aspect-ratio));
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: calc(1* var(--aspect-ratio));
}

.result_div {
    position: absolute;
    left: calc(-1.4 * var(--aspect-ratio));
    top: calc(-3 * var(--aspect-ratio));
    font-size: calc(2 * var(--aspect-ratio));
    width: calc(34.4 * var(--aspect-ratio));
    overflow-y: auto!important;
    overflow-x: hidden!important;
    height: calc(26.4 * var(--aspect-ratio)) !important;
}


/* Hide the vertical scrollbar */

.result_div::-webkit-scrollbar {
    display: none!important;
}

.blocks {
    display: none;
}

/* Insurance new design */
.hands-card{
    text-align: center;
}
.hand-lebel{
    font-weight: 500;
    font-size: calc(2 *var(--aspect-ratio));
    color: #ffffffb3;
}
.card-parents img{
    border-radius: 2px;
}
.hand_result{
    font-weight: 500;
    font-size: calc(2.5 * var(--aspect-ratio));
    color: #75BDFE;
    font-family: 'Sofia Sans';
    text-shadow: 0px 0px 2px rgba(145, 202, 254, 0.5);
}
.second-top {

    box-sizing: border-box;
    position: relative;
    width: calc( 55 * var(--aspect-ratio)) !important;
    height: calc( 75 * var(--aspect-ratio)) !important;
    background: linear-gradient(90deg, #181B3A 0%, #262A4E 50%, #181B3A 100%);
    border: 2px solid #EFA434;
    border-radius: 25px;

}

.Second-mod {
    transition: transform .3s ease-out!important;
    transform: translate(0,0px) !important;
}

.main-header {
    border-radius: 10px;
    width: calc( 23.5 * var(--aspect-ratio));
    height: calc( 15 * var(--aspect-ratio));
    background: #0000001A;
}

.border-around {
    /* width: 670px;
    height: 128px; */
    justify-content: center!important;
    flex-direction: column!important;
    align-items: center!important;
    display: flex!important;
    margin-top: calc(0.9 * var(--aspect-ratio)) !important;
}

.next {
    white-space: nowrap;
}

.border-p {
    /* width: 417px;
    height: 58px; */
    font-family: "Montserrat";
    font-size: calc( 5.5 * var(--aspect-ratio));
    font-weight: 700;
    color: #fff;
    text-align: center;
    /* background: linear-gradient(180deg, #D8B2B2 0%, #FFFFFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    margin-top: calc( -2 * var(--aspect-ratio)) !important;
}

.border-p-text {
    font-family: "Sofia Sans";
    font-size: calc(4.5 * var(--aspect-ratio));
    font-weight: 800;
    text-align: center;
    color: #75BDFE;
    margin-bottom: 11px !important;
}

.flex-container{
    display:flex;
    justify-content:space-between;
    /* align-items: flex-end; */
    
}
.card-parents {
	position: relative;
	display: flex;
	align-items: center;
	gap: calc(0.36 * var(--aspect-ratio));
	/* text-align: center; */
	margin-top: calc(1.0 * var(--aspect-ratio)) !important;
	margin-bottom: calc(1.0 * var(--aspect-ratio)) !important;
	justify-content: center;
}
.img_2
{
    width: calc(3.6 * var(--aspect-ratio));
}
.img_3
{
    width: calc(3.6 * var(--aspect-ratio));
}

.card-prents {
	position: relative;
	display: flex;
	align-items: center;
	width: 75%;
	margin: auto;
	justify-content: center;
	margin-top: calc(1.0 * var(--aspect-ratio)) !important;
	gap: 5px;
}

.img_1 {
    width: calc(8.5 * var(--aspect-ratio));
  height: calc(12 * var(--aspect-ratio));
}

.doller_prents {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: calc(2.5 * var(--aspect-ratio)) !important;
}

.pay {
    font-family: "Sofia Sans";
    font-size: calc(4 * var(--aspect-ratio));
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}
.sane {
    font-family: "Montserrat";
    font-size: calc(4 * var(--aspect-ratio));
    font-weight: 600;
    text-align: center;
    color: #75BDFE;
}
.amount-detail{
    display: flex;
    gap: 10px;
}

.insuranceYesButton{
    
    background: linear-gradient(180deg, #68B8FF 0%, rgba(0, 36, 68, 0.7) 114.17%);
    box-shadow: 0px 2px 10px 2px rgba(145, 202, 254, 0.5);
    border-radius: 5px;
}
.two_btn {
	display: flex !important;
	justify-content: center !important;
	align-items: center;
	gap: 35px !important;
	margin-top: calc(4 * var(--aspect-ratio)) !important;
	padding-left: calc(0 * var(--aspect-ratio)) !important;
	padding-right: calc(0 * var(--aspect-ratio)) !important;
	width: 95%;
	margin: auto;
}

.text_btn {
    width: calc(60 * var(--aspect-ratio)) !important;
    height: calc(8 * var(--aspect-ratio)) !important;
    font-family: 'Poppins';
    font-size: calc(3.5 * var(--aspect-ratio));
    font-weight: 600;
    color: #FFFFFF;
    border-radius: calc(1 * var(--aspect-ratio));
    border: none !important;
    align-items: center;
}

.next {
    width: calc(60 * var(--aspect-ratio)) !important;
    height: calc(8 * var(--aspect-ratio)) !important;
    background: linear-gradient(180deg, #4E577A 0%, #282F4D 100%);
    box-shadow: 0px 2px 10px 2px rgba(145, 202, 254, 0.5);
    border-radius: calc(1 * var(--aspect-ratio));
    font-family: 'Poppins';
    font-size: calc(3* var(--aspect-ratio));
    font-weight: 600;
    color: #FFFFFF;
    border: none !important;
    align-items: center;
}
.insuranceClose {
	position: absolute;
	top: calc(2 * var(--aspect-ratio));
	right: calc(2 * var(--aspect-ratio));
	border: 2px solid #EFA434;
	background: transparent;
	border-radius: 50%;
	padding: 2px 7px 0px 6px;
	color: #EFA434;
    cursor: pointer;
}

