/*   .redTheme .player_wrapper table,
  .greenTheme .player_wrapper table,
  .grayTheme .player_wrapper table {
      border-collapse: collapse;
      margin: 0vw 0 0 -0.5vw;
  } */


/* red Theme */

.redTheme {
    background: radial-gradient(50% 91.18% at 50% 50%, #943333 0%, #280C0C 100%);
}

.redTheme .menu-btn {
    background: #673232;
}

.redTheme #sidebar .list-items {
    background: #3B1515;
    border: 0.01vw solid #AB7171;
    color: #FFB8B8;
    text-shadow: 0px 1px 1px #FFC4C4;
}

.redTheme #sidebar .list-items .title {
    color: #FFD8D8;
    font-weight: 700;
    text-shadow: none;
}

.redTheme .backgroundImg {
    background: #FFD8D8;
}

.redTheme .trophyImg {
    background: #9B9BB3;
}

.redTheme .settingsButton {
    border-bottom: 0.05vw solid #AB7171;
}

.redTheme .list-items .checkbox {
    border: 0.05vw solid #AB7171;
    background: linear-gradient(180deg, #7D4242 0%, #542626 100%);
}

.redTheme .hadeTitle {
    color: #9B9BB3;
}

.redTheme #tableDiv {
    border: 3vw solid rgba(236, 86, 86, 0.2);
    box-shadow: inset 0px 0px 15px #000000;
}

.redTheme .top-bar {
    background: #3B1515;
    border-bottom: 1px solid #FFD8D8;
}

.redTheme .balance-info-first p {
    color: #FFD8D8;
}

.redTheme .wrapper .chatButton {
    background: linear-gradient(180deg, #7D4242 0%, #542626 100%);
    border: 1px solid #AB7171;
}

.redTheme .side-bet_div {
    border: 1px solid #673232;
    background: #3B1515;
}

.redTheme .side-bet-panel {
    background: #3B1515;
}

.redTheme .side-bet-panel-btn button {
    background: #6B212173 !important;
}

.redTheme .side-bet-panel-btn button.active {
    background: #6B2121 !important;
}

.redTheme .right-content-wrapper {
    background: linear-gradient(180deg, #6B2121 80%, rgba(107, 33, 33, 0.5) 100%);
}

.redTheme .flash-draw-wrap {
    background: linear-gradient(180deg, #6B2121 80%, rgba(107, 33, 33, 0.5) 100%);
}

.redTheme #bets-history-content {
    background: linear-gradient(180deg, #6B2121 10%, rgba(107, 33, 33, 0.5) 100%);
}

.redTheme .flop-card {
    border: 0.01vw solid #FFFFFF;
    background: #6B2121;
}

.redTheme .flash-draw-second {
    border: 0.01vw solid #FFFFFF;
    background: #6B2121;
}

.redTheme .flash-draw-before {
    border: 0.01vw solid #FFFFFF;
}

.redTheme .flash-draw-second button {
    background: linear-gradient(180deg, #7D4242 0%, #542626 100%);
    border: 1px solid #FFD8D8;
    text-align: center;
}

.redTheme .bottom-bar {
    background: linear-gradient(180deg, #673232 0%, rgba(255, 176, 176, 0.2) 100%);
    border: 1px solid #673232;
}

.redTheme .betButton.selected {
    background: #34B056;
    border: 1px solid #323E67;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8) !important;
}

.redTheme .bottom-bar button {
    background: #673232;
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.25);
}

.redTheme .hadeMiddleDiv {
    background: linear-gradient(180deg, rgba(255, 218, 218, 0) -45.83%, rgba(240, 59, 59, 0.4) 62.5%);
}

.redTheme #topDiv {
    background: linear-gradient(180deg, rgba(255, 171, 171, 0.06) 0%, rgba(236, 86, 86, 0.2) 100%);
}

/* .redTheme .player_wrapper .box {
    background: #3B1515;
} */

.redTheme .player_wrapper .stars {
    background: #883131;
    box-shadow: none;
    border-radius: calc( 0.3 * var(--aspect-ratio));
}

.redTheme .player_wrapper .name {
    color: #FFD8D8;
    border-radius: 4px 0px 0px 4px;
}

.redTheme .player_wrapper table tr:nth-child(2) {
    background: linear-gradient(to right, rgba(103, 50, 50, 0) 20%, rgba(103, 50, 50, 0.9) 50%, rgba(103, 50, 50, 0) 80%);
    border-radius: 4px 0px 0px 4px;
}

.redTheme .player_wrapper .money {
    color: #FFFFFF;
}

.redTheme #betAmountDiv,
.redTheme .increase-placeholder,
.redTheme #betDiv {
    background: linear-gradient(180deg, #7D4242 0%, #542626 100%) !important;
    border: 1px solid #824E4E;
}

.redTheme #betAmountDiv div {
    background: linear-gradient(180deg, #7D4242 0%, #542626 100%);
    border: 1px solid #FFD8D8;
    box-shadow: none !important;
}

.redTheme .handResult {
    color: #FFD8D8;
    box-shadow: inset 3px 4px 10px #a72424;
}

.redTheme #betAmountDiv div:is(.active) {
    background: #34B056;
    border: 1px solid #323E67;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8) !important;
}

.redTheme #foldButton {
    background: #E23E3E;
    box-shadow: 0px 8px 24px rgba(223, 64, 62, 0.5);
}

.redTheme #callButton {
    background: #9B9BB3;
    box-shadow: 0px 8px 24px rgba(155, 155, 179, 0.5);
}

.redTheme #raiseButton {
    background: #34B056;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8);
}

.redTheme #sidebar .list-items li:hover,
.redTheme button:hover,
.redTheme #betAmountDiv>div:hover {
    background: #542626 !important;
}

.redTheme #bet33:hover,
.redTheme #allInButton:hover,
.redTheme #bet70:hover,
.redTheme #bet50:hover {
    background: #542626 !important;
    border-radius: calc( 1 * var(--aspect-ratio));
    padding: calc( .4 * var(--aspect-ratio));
}

.redTheme .chat-container,
.redTheme .chat-header,
.redTheme .chat-messages {
    background: #542626;
}

.redTheme .chat-header {
    border-bottom: calc(0.2 * var(--aspect-ratio)) solid #AB7171;
}

.redTheme .chat-input {
    border: calc(0.1 * var(--aspect-ratio)) solid #AB7171;
}

.redTheme .input-container input,
.redTheme #chatCloseBtn,
.redTheme .chat-header {
    color: #FFD8D8;
}

.redTheme .main_emoji {
    background: #673232 !important;
}

.redTheme .btn-closes-emoji {
    background: #542626 !important;
    color: #FFD8D8;
}

.redTheme .timestamp,
.redTheme #tip-button,
.redTheme .first_bb,
.redTheme .first_bb1,
.redTheme .first_bb2,
.redTheme .input-container input::placeholder {
    color: #FFD8D8;
}

.redTheme .first_bb:hover,
.redTheme .first_bb1:hover,
.redTheme .first_bb2:hover {
    background: #3B1515 !important;
    color: #FFD8D8;
}

.redTheme .username {
    color: #FFD8D8;
    font-weight: 700;
}

.redTheme .message.self {
    background: linear-gradient(180deg, #673232 0%, rgba(255, 176, 176, 0.2) 100%);
    color: #FFD8D8;
}

/* .redTheme .button-prents {
    background: #3B1515;
} */

.redTheme .chat-messages,
.redTheme .flash-draw-wrap {
    scrollbar-color: #FFD8D8 #421919 !important;
}

.redTheme .tipButton .tipImage {
    content: url("./images/tipred.png");
    /* Image for active button */
}

.redTheme .tipButton:disabled .tipImage {
    content: url("./images/tipreddisabled.png");
}

.redTheme .tipButton:is(.active) .tipImage {
    content: url("./images/tipredclicked.png");
    /* Image for active button */
}

.redTheme .first_bb:hover .tipImage,
.redTheme .first_bb1:hover .tipImage,
.redTheme .first_bb2:hover .tipImage {
    color: #FFD8D8;
    background: #811e1e;
}

.redTheme .first-bb-value,
.redTheme .first-bb1-value,
.redTheme .first-bb2-value {
    color: #FFD8D8;
}

.redTheme .flop-card-third {
    background: #6B2121;
}


/* green Theme */

.greenTheme {
    background: radial-gradient(50% 91.18% at 50% 50%, #339439 0%, #040A02 100%);
}

.greenTheme #sidebar .list-items {
    background: #092F09;
    border-right: 0.02vw solid #73AB71;
    color: #51E2FF;
}

.greenTheme #sidebar .list-items .title {
    color: #51E2FF;
    font-weight: 700;
}

.greenTheme .backgroundImg,
.greenTheme .trophyImg {
    background: #51E2FF;
}

.greenTheme .chatButton .backgroundImg {
    background: #33E1FF;
}

.greenTheme .settingsButton {
    border-bottom: 0.05vw solid #73AB71;
}

.greenTheme .menu-btn {
    background: #366732;
}

.greenTheme .list-items .checkbox {
    border: 0.05vw solid #73AB71;
    background: linear-gradient(180deg, #4F7D42 0%, #2D5426 100%);
}

.greenTheme #tableDiv {
    border: 3vw solid rgba(86, 236, 91, 0.2);
    box-shadow: inset 0px 0px 15px #000000;
}

.greenTheme .top-bar {
    background: #092F09;
    border-bottom: 1px solid #B5FFB8;
    color: #33E1FF;
}

.greenTheme .betButton.selected {
    background: #34B056;
    border: 1px solid #64A45C;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8) !important;
}

.greenTheme .balance-info-first p {
    color: #33E1FF;
}

.greenTheme .wrapper .chatButton {
    background: linear-gradient(180deg, #477D42 0%, #305426 100%);
    border: 1px solid #7FAB71;
}

.greenTheme .side-bet-panel {
    background: #183B15;
}

.greenTheme .side-bet_div {
    border: 1px solid #397D36;
    background: #153711;
}

.greenTheme .side-bet-panel-btn button {
    background: #2C6B2173 !important;
    color: #2293AA;
}

.greenTheme .side-bet-panel-btn button.active {
    background: #2A6B21 !important;
    color: #33E1FF;
}

.greenTheme .side-balance-bet,
.greenTheme .side-bet-paid,
.greenTheme .side-bet-panel-box h2 {
    color: #33E1FF;
}

.greenTheme .right-content-wrapper {
    background: linear-gradient(180deg, #216B21 0%, rgba(107, 33, 33, 0) 100%);
}

.greenTheme .flash-draw-wrap {
    background: linear-gradient(180deg, #216B21 0%, rgba(107, 33, 33, 0) 100%);
}

.greenTheme #bets-history-content {
    background: linear-gradient(180deg, #216B21 0%, rgba(107, 33, 33, 0) 100%);
}

.greenTheme .flop-card {
    border: 0.01vw solid #FFFFFF;
    background: #2A6B21;
    color: #33E1FF;
}

.greenTheme .flash-draw-second {
    border: 0.01vw solid #CFCFCF;
    background: linear-gradient(180deg, #497D42 0%, #295323 100%);
    color: #33E1FF;
}

.greenTheme .flash-draw-before {
    border: 0.01vw solid #FFFFFF;
}

.greenTheme .flash-draw-second button {
    background: linear-gradient(180deg, #497D42 0%, #295323 100%);
    border: 1px solid #DAFFD8;
    text-align: center;
    color: #33E1FF;
}

.greenTheme .bottom-bar {
    background: linear-gradient(180deg, #3C6732 0%, rgba(54, 103, 50, 0) 100%);
}

.greenTheme .bottom-bar button {
    background: #386732;
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.25);
    color: #33E1FF;
}

.greenTheme .hadeMiddleDiv {
    background: linear-gradient(180deg, rgba(225, 255, 218, 0) -45.83%, rgba(57, 224, 20, 0.4) 62.5%);
}

.greenTheme .hadeTitle,
.greenTheme .handId label {
    color: #00A6C7;
}

.greenTheme #topDiv {
    background: linear-gradient(180deg, rgba(187, 255, 171, 0.06) 0%, rgba(99, 236, 86, 0.2) 100%);
    color: #51E2FF;
}

.greenTheme .hover-container {
    color: #51E2FF !important;
    background: #1C3B15 !important;
    background-color: #1C3B15 !important;
}

/* .greenTheme .player_wrapper .box {
    background: #1C3B15;
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.3);
    color: #33E1FF;
} */

.greenTheme .player_wrapper .stars {
    background: #326734;
    color: #33E1FF;
    box-shadow: none;
    border-radius: calc( 0.3 * var(--aspect-ratio));
}

.greenTheme .player_wrapper,
.greenTheme .player_wrapper .money {
    color: #33E1FF;
}

.greenTheme .player_wrapper table tr:nth-child(2) {
    background: linear-gradient(to right, rgba(52, 103, 50, 0) 20%, rgba(54, 103, 50, 0.9) 50%, rgba(52, 103, 50, 0) 80%);
    border-radius: 4px 0px 0px 4px;
}

/* .greenTheme #turnActionsDiv button {
    color: #51E2FF;
} */

.greenTheme #betAmountDiv,
.greenTheme .increase-placeholder,
.greenTheme #betDiv {
    background: linear-gradient(180deg, #447D42 0%, #325426 100%) !important;
    border: 1px solid #52824E;
    color: #51E2FF;
}

.greenTheme #betAmountDiv div {
    background: linear-gradient(180deg, #497D42 0%, #235223 100%);
    border: 1px solid #DAFFD8;
    box-shadow: none !important;
}

.greenTheme #betAmountDiv div:is(.active) {
    background: #34B056;
    border: 1px solid #64A45C;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8) !important;
}

.greenTheme #foldButton {
    background: #E23E3E;
    box-shadow: 0px 8px 24px rgba(223, 64, 62, 0.5);
}

.greenTheme #callButton {
    background: #9B9BB3;
    box-shadow: 0px 8px 24px rgba(155, 155, 179, 0.5);
}

.greenTheme #raiseButton {
    background: #34B056;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8);
}

.greenTheme #sidebar .list-items li:hover,
.greenTheme button:hover,
.greenTheme #betAmountDiv>div:hover {
    background: #325426 !important;
}

.greenTheme #bet33:hover,
.greenTheme #allInButton:hover,
.greenTheme #bet70:hover,
.greenTheme #bet50:hover {
    background: #325426 !important;
    border-radius: calc( 1 * var(--aspect-ratio));
    padding: calc( .4 * var(--aspect-ratio));
}

.greenTheme .chat-container,
.greenTheme .chat-header,
.greenTheme .chat-messages {
    background: #092F09;
}

.greenTheme .chat-header {
    border-bottom: calc(0.2 * var(--aspect-ratio)) solid #73AB71;
}

.greenTheme .chat-input {
    border: calc(0.1 * var(--aspect-ratio)) solid #73AB71;
}

.greenTheme .input-container input,
.greenTheme #chatCloseBtn,
.greenTheme .chat-header {
    color: #33E1FF;
}

.greenTheme .main_emoji {
    background: #216B21 !important;
}

.greenTheme .btn-closes-emoji {
    background: linear-gradient(180deg, #497D42 0%, #235223 100%) !important;
    color: #33E1FF;
}

.greenTheme .timestamp,
.greenTheme #tip-button,
.greenTheme .first_bb,
.greenTheme .first_bb1,
.greenTheme .first_bb2,
.greenTheme .input-container input::placeholder {
    color: #33E1FF;
}

.greenTheme .first_bb:hover,
.greenTheme .first_bb1:hover,
.greenTheme .first_bb2:hover,
.greenTheme #chatCloseBtn:hover {
    background: none !important;
    color: #33E1FF;
}

.greenTheme .username {
    color: #33E1FF;
    font-weight: 700;
}

.greenTheme .message.self {
    background: linear-gradient(180deg, #497D42 0%, #295323 100%);
    color: #33E1FF;
}

/* .greenTheme .button-prents {
    background: linear-gradient(180deg, #447D42 0%, #24401a 100%);
} */

.greenTheme .chat-messages,
.greenTheme .flash-draw-wrap {
    scrollbar-color: #87d3e0 #264e17 !important;
}

.greenTheme .tipButton .tipImage {
    content: url("./images/tipgreen.png");
    /* Image for active button */
}

.greenTheme .tipButton:disabled .tipImage {
    content: url("./images/tipgreendisabled.png");
}

.greenTheme .tipButton:is(.active) .tipImage {
    content: url("./images/tipgreenclicked.png");
    /* Image for active button */
}

.greenTheme .first_bb:hover .tipImage,
.greenTheme .first_bb1:hover .tipImage,
.greenTheme .first_bb2:hover .tipImage {
    color: #87d3e0;
    background: #286d16;
}

.greenTheme .first-bb-value,
.greenTheme .first-bb1-value,
.greenTheme .first-bb2-value {
    color: #FFFFFF;
}

.greenTheme .handResult {
    color: #87d3e0;
    box-shadow: inset 3px 4px 10px #609452;
}

.greenTheme .flop-card-third {
    background: #2A6B21;
    color: #87d3e0;
}


/* gray Theme */

.grayTheme {
    background: radial-gradient(43.22% 78.81% at 50% 50%, #5F5F5F 0%, #212121 100%);
}

.grayTheme #sidebar .list-items {
    background: #3C3C3C;
    border-right: 1px solid rgba(160, 160, 160, 0.666667);
}

.grayTheme .backgroundImg,
.grayTheme .trophyImg {
    background: #CFCFCF;
}

.grayTheme .chatButton .backgroundImg {
    background: #FFFFFF;
}

.grayTheme .settingsButton {
    border-bottom: 0.05vw solid rgba(160, 160, 160, 0.666667);
}

.grayTheme .list-items .checkbox {
    border: 0.05vw solid #A0A0A0;
    background: linear-gradient(180deg, #797979 0%, #474747 100%);
}

.grayTheme .menu-btn {
    background: #676767;
}

.grayTheme #sidebar .title {
    color: #D3D3D7;
}

.grayTheme #tableDiv {
    border: 3vw solid rgba(232, 232, 232, 0.2);
    box-shadow: inset 0px 0px 20px #000000;
}

.grayTheme .top-bar {
    background: #353535;
    border-bottom: 1px solid #969696;
}

.grayTheme .wrapper .chatButton {
    background: linear-gradient(180deg, #797979 0%, #404040 100%);
    border: 1px solid #9F9F9F;
}

.grayTheme .side-bet-panel {
    background: #353535;
    border-bottom: 1px solid #969696;
}

.grayTheme .side-bet_div {
    border: 1px solid #8A8A8A;
    background: #353535;
}

.grayTheme .side-bet-panel-btn button {
    background: #72727266 !important;
    color: #B7B7C4;
}

.grayTheme .side-bet-panel-btn button.active {
    background: #6D6D6D !important;
    color: #FFFFFF;
}

.grayTheme .betButton.selected {
    background: #34B056;
    border: 1px solid #CFCFCF;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8) !important;
}

.grayTheme .balance-info-first p {
    color: #CFCFCF;
}

.grayTheme .right-content-wrapper {
    background: linear-gradient(180deg, #6D6D6D 0%, rgba(108, 108, 108, 0) 87.88%);
}

.grayTheme .flash-draw-wrap {
    background: linear-gradient(180deg, #6D6D6D 0%, rgba(108, 108, 108, 0) 87.88%);
}

.grayTheme #bets-history-content {
    background: linear-gradient(180deg, #6D6D6D 0%, rgba(108, 108, 108, 0) 87.88%);
}

.grayTheme .flop-card {
    border: 0.01vw solid #FFFFFF;
    background: #6D6D6D;
}

.grayTheme .flash-draw-second {
    border: 0.01vw solid #CFCFCF;
    background: linear-gradient(180deg, #737373 0%, #454545 100%);
}

.grayTheme .flash-draw-before {
    border: 0.01vw solid #CFCFCF;
}

.grayTheme .flash-draw-second button {
    background: linear-gradient(180deg, #737373 0%, #454545 100%);
    border: 1px solid #CFCFCF;
    text-align: center;
}

.grayTheme .bottom-bar {
    background: linear-gradient(180deg, #5D5D5D 0%, rgba(59, 59, 59, 0.2) 100%);
}

.grayTheme .bottom-bar button {
    background: linear-gradient(180deg, #737373 0%, #454545 100%);
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.25);
}

.grayTheme .hadeMiddleDiv {
    background: linear-gradient(180deg, rgba(235, 235, 235, 0) 0%, rgba(245, 246, 247, 0.4) 100%);
}

.grayTheme .hadeTitle {
    color: #CFCFCF;
}

.grayTheme #topDiv {
    background: linear-gradient(180deg, rgba(230, 230, 230, 0) 0%, rgba(237, 239, 240, 0.2) 100%);
}

/* .grayTheme .player_wrapper .box {
    background: #2D2D2D;
} */

.grayTheme .player_wrapper .stars {
    background: #7A7A7B;
    box-shadow: none;
    border-radius: calc( 0.3 * var(--aspect-ratio));
}

.grayTheme .player_wrapper .name {
    color: #BEBEC1;
}

.grayTheme .player_wrapper .money {
    color: #FFFFFF;
}

.grayTheme .player_wrapper table tr:nth-child(2) {
    background: linear-gradient(to right, rgba(95, 95, 96, 0) 20%, rgba(101, 101, 102, 0.9) 50%, rgba(95, 95, 96, 0) 80%);
    border-radius: 4px 0px 0px 4px;
}

.grayTheme #foldButton {
    background: #E23E3E;
    box-shadow: 0px 8px 24px rgba(223, 64, 62, 0.5);
}

.grayTheme #callButton {
    background: #9B9BB3;
    box-shadow: 0px 8px 24px rgba(155, 155, 179, 0.5);
}

.grayTheme #raiseButton {
    background: #34B056;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8);
}

.grayTheme #betAmountDiv,
.grayTheme .increase-placeholder,
.grayTheme #betDiv {
    background: linear-gradient(180deg, #808182 0%, #444445 82%) !important;
    border: 1px solid #323E67;
}

.grayTheme #betAmountDiv div {
    background: linear-gradient(180deg, #737373 0%, #3F3F3F 100%);
    border: 1px solid #CFCFCF;
    box-shadow: none !important;
}

.grayTheme #betAmountDiv div:is(.active) {
    background: #34B056;
    border: 1px solid #CFCFCF;
    box-shadow: 0px 8px 24px rgba(40, 129, 64, 0.8) !important;
}

.grayTheme #sidebar .list-items li:hover,
.grayTheme button:hover,
.grayTheme #betAmountDiv>div:hover {
    background: #808182 !important;
}

.grayTheme #bet33:hover,
.grayTheme #allInButton:hover,
.grayTheme #bet70:hover,
.grayTheme #bet50:hover {
    background: #808182 !important;
    border-radius: calc( 1 * var(--aspect-ratio));
    padding: calc( .4 * var(--aspect-ratio));
}

.grayTheme .chat-container,
.grayTheme .chat-header,
.grayTheme .chat-messages {
    background: #353535;
}

.grayTheme .chat-header {
    border-bottom: calc(0.2 * var(--aspect-ratio)) solid rgba(160, 160, 160, 0.666667);
}

.grayTheme .chat-input {
    border: calc(0.1 * var(--aspect-ratio)) solid rgba(160, 160, 160, 0.666667);
}

.grayTheme .input-container input,
.grayTheme #chatCloseBtn,
.grayTheme .chat-header {
    color: #CFCFCF;
}

.grayTheme .main_emoji {
    background: #6D6D6D !important;
}

.grayTheme .btn-closes-emoji {
    background: linear-gradient(180deg, #737373 0%, #3F3F3F 100%) !important;
    color: #CFCFCF;
}

.grayTheme .timestamp,
.grayTheme #tip-button,
.grayTheme .first_bb,
.grayTheme .first_bb1,
.grayTheme .first_bb2,
.grayTheme .input-container input::placeholder {
    color: #CFCFCF;
}

.grayTheme .first_bb:hover,
.grayTheme .first_bb1:hover,
.grayTheme .first_bb2:hover,
.grayTheme #chatCloseBtn:hover {
    background: none !important;
    color: #CFCFCF;
}

.grayTheme .username {
    color: #CFCFCF;
    font-weight: 700;
}

.grayTheme .message.self {
    background: linear-gradient(180deg, #737373 0%, #454545 100%);
    color: #CFCFCF;
}

/* .grayTheme .button-prents {
    background: #454545;
} */

.grayTheme .chat-messages,
.grayTheme .flash-draw-wrap {
    scrollbar-color: #f0f0f0 #3d3c3c !important;
}

.grayTheme .tipButton .tipImage {
    content: url("./images/tipgray.png");
    /* Image for active button */
}

.grayTheme .tipButton:disabled .tipImage {
    content: url("./images/tipgraydisabled.png");
}

.grayTheme .tipButton:is(.active) .tipImage {
    content: url("./images/tipgrayclicked.png");
    /* Image for active button */
}

.grayTheme .first_bb:hover .tipImage,
.grayTheme .first_bb1:hover .tipImage,
.grayTheme .first_bb2:hover .tipImage {
    color: #CFCFCF;
    background: #4e4e4e;
}

.grayTheme .first-bb-value,
.grayTheme .first-bb1-value,
.grayTheme .first-bb2-value {
    color: #FFFFFF;
}

.grayTheme .handResult {
    color: #CFCFCF;
    box-shadow: inset 3px 4px 10px #747272;
}

.grayTheme .flop-card-third {
    background: #6D6D6D;
    color: #CFCFCF;
}